<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305348507864-g49jnh6k7c535j191m1orqoem3t5r41v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305348507864-g49jnh6k7c535j191m1orqoem3t5r41v</string>
	<key>API_KEY</key>
	<string>AIzaSyA1UYf8avHQovxmgWj9fqnasksZmfDErng</string>
	<key>GCM_SENDER_ID</key>
	<string>305348507864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geofence</string>
	<key>PROJECT_ID</key>
	<string>geo-fence-seb</string>
	<key>STORAGE_BUCKET</key>
	<string>geo-fence-seb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305348507864:ios:2016e349b6e33bfa34ffad</string>
</dict>
</plist>